.parent1{
    display: flex;
    justify-content: center;
    gap: 60px;
} 

.parent2{
    display: flex;
    justify-content: center; 
}
.parent3{
    display: flex;
    justify-content: center;
    gap: 60px;
    
}  

.fils1{
 background-color: aqua;   
 width: 50px;
 height: 50px;
}
.parent{
margin-top: 15em;
}